{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

<button type="submit" class="btn btn-secondary">Register</button>
{{ form_end(registrationForm) }}