{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} | Le bureau {% endblock %}

{% block body %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main class="container">
        <h1 class="my-5 text-center">Le bureau</h1>
        <a class="btn btn-secondary my-5" href="{{ path('admin_office_new') }}">
            Ajouter
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
                 viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2
                 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0
                 1 8 4z"/>
            </svg>
        </a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for office in offices %}
                <tr>
                    <td>{{ office.id }}</td>
                    <td>{{ office.name }}</td>
                    <td>{{ office.status }}</td>
                    <td class="d-flex">
                        <a class="btn btn-outline-secondary mr-3" href="{{ path('admin_office_edit', {'id': office.id}) }}">
                            edit
                        </a>
                        {% include 'officeAdmin/_delete_form.html.twig' %}
                    </td>


                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
