{% extends 'layoutAdmin.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-5">Liste des publications</h1>
        <a class="btn btn-primary my-5" href="{{ path('admin_publication_new') }}">
            Ajouter
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square"
                 viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2
                 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0
                 1 8 4z"/>
            </svg>
        </a>
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Picture</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.id }}</td>
                        <td>{{ publication.title }}</td>
                        <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
                        <td>{{ publication.picture }}</td>
                        <td class="d-flex flex-column flex-lg-row">
                            <a class="btn btn-outline-primary mb-3 mb-lg-0 mr-lg-3"
                               href="{{ path('admin_publication_show', {'id': publication.id}) }}">
                                voir
                            </a>
                            <a class="btn btn-outline-primary mb-3 mb-lg-0 mr-3"
                               href="{{ path('admin_publication_edit', {'id': publication.id}) }}">
                                modifier
                            </a>
                            {% include 'publicationAdmin/_delete_form.html.twig' %}

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
