<nav class="navbar navbar-expand-xl navbar-light bg-primary shadow py-3  text-uppercase">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('admin_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_office_index') }}">Le bureau</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_index') }}">Categorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_publication_index') }}">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_picture_index') }}">Photo</a>
                </li>
                <img src="{{ asset('build/images/user.ico') }}" alt="logo user" class="p-1 bg-dark  border border-light rounded-circle">

                <li class="nav-item dropdown pr-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        <a class="dropdown-item" href="{{ path('home_index') }}">Retour accueil visiteur</a>

            </ul>
        </div>
    </div>
</nav>