<nav class="navbar navbar-expand-xl navbar-light bg-primary shadow py-3  text-uppercase">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Administration</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_office_index') }}">Le bureau</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_index') }}">Categorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_publication_index') }}">Publication</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_picture_index') }}">Photo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('home') }}" >Retour accueil Utilisateur</a>
                </li>
            </ul>
        </div>
    </div>
</nav>